body, button, input, select {
  font-family:"Roboto Slab", "Times New Roman", serif;
  font-size:14px;
}
.fs-hidden>*:not(legend){
  display:none;
}
.fs-hidden>legend:before{
  transform:rotate(-90deg);
}
fieldset>legend:before{
  display:inline-block;
  content:"\25be ";
}
fieldset>legend, rsdb-sort{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:pointer;
}
tr rsdb-item>span{
  margin-left:68px;
}
rsdb-item div{
  display: inline-block;
}
tr rsdb-item div {
  display: block;
}
rsdb-item{
  display: block;
}
tr rsdb-item img{
  position:absolute;
}
tr rsdb-item>div {
  position:relative;
  width:0px;
  height:0px;
}
rsdb-item {
  white-space:nowrap;
}
tr:nth-child(odd) rsdb-item img {
  left:32px;
  top:-8px;
}
tr:nth-child(even) rsdb-item img {
  top:-8px;
}
.repeating{
  text-decoration: overline;
}
rsdb-title{
  font-size:150%;
  font-weight:bold;
}
rsdb-sort[mode="1"]:after{
  content: "\25be";
}
rsdb-sort[mode="2"]:after{
  content: "\25b4";
}